@import url('https://fonts.googleapis.com/css2?family=Heebo|Montserrat|Poppins&display=swap');

*{
  font-family: 'Monserrat', sans-serif;
}
.search_area{
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  height: 45px;
}
.search_area span{
  margin-left: 10px;
  margin-right: 10px;
}
/* .search_area img{
  margin-left: 10px;
} */
.details-p{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 8px;
}
.star{
  width: 15px;
}
/* .ratings{
  align-self: flex-end;
} */
.place_img{
  border-radius: 10px;
}
.is-host{
  border: 1px solid #000;
  border-radius: 10px;
  font-size: small;
  padding: 3px;
  /* align-self: flex-start; */
}
/* .list_type{
  align-self: center;
} */
/* .details-p span{
  margin: 10px 20px 1px 0;
} */
.head_contain{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.drawer-contents{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.search-container{
  display: flex;
  justify-content: space-around;
}
.location-item-contain{
  display: flex;
  flex-direction: column;
}
.location-item{
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.location-item:hover{
  cursor: pointer;
}
.icon_locat{
  width: 18px;
  height: 18px;
}
.search-options-lst{
  display: flex;
  /* flex-direction: row; */
  padding: 10px;
}
.count-btn{
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 8px;
}
.guest-counting{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.guest-count-cont{
  display: flex;
  flex-direction: column;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .place_img{
    width: 300px;
    height: 200px;
  }
  .head_contain{
    flex-direction: column;
  }
  .head_icon{
    margin-bottom: 12px;
  }
  .head_item{
    align-self: end;
  }
  .search-container{
    flex-direction: column;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up)  */
@media only screen and (min-width: 600px) {
  .place_img{
    width: 450px;
    height: 300px;
  }
  .details-p{
    width: 450px;
  }
  .head_contain{
    flex-direction: row;
  }
  .search-container{
    flex-direction: row;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up)  */
@media only screen and (min-width: 992px) {
  .place_img{
    width: 350px;
    height: 250px;
  }
  .details-p{
    width: 350px;
  }
  .search-container{
    flex-direction: row;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}  
